{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}

<form action="/edit-item/{{product.id}}" method="post" enctype="multipart/form-data">
    <label for="itemName">Item Name</label>
    <input type="text" name="itemName" value="{{product.name}}"><br>
    <label for="itemDescription">Item Description</label>
    <input type="text" name="itemDescription" value="{{product.description}}"><br>
    <label for="itemPrice">Item Price</label>
    <input type="number" name="itemPrice" value="{{product.price}}"><br>
    <label for="itemImage">Item Image</label>
    <input type="file" name="itemImage"><br>
    <label for="itemCategory">Item Category</label>
    <select name="itemCategory">
        {% for category in categories %}
        {% if product.category == category.name %}
        <option value="{{ category.id }}" selected>{{ category.name }}</option>
        {% else %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endif %}
        {% endfor %}
    </select><br>
    <label for="itemStock">Item Stock</label>
    <input type="number" name="itemStock" value="{{product.stock}}"><br>
    <button type="submit">Edit Item</button>
</form>
{% endblock %}